body > .container {
    /*margin: 20px;
    padding: 20px;*/
    border-style: none;
}

.card>img {
    margin: 0.8rem;
    padding: 0.8rem;
    height: 20vh;
    object-fit: contain;
}

.pagination > li > a {
    background-color: white;
    color: black;
}
.pagination > .active > a {
    background-color: gray !Important;
}

.follow {
    font-size: small;
}
.social {
    font-size: x-small;
}

.delete {
    color: rgb(240, 0, 0);
}


   